<!--
  -- ─── SIDEBAR ────────────────────────────────────────────────────────────────────
  -->

<!-- <app-navbar></app-navbar> -->

<!-- Begin page content -->
<!-- <main role="main" class="flex-shrink-0" style="margin-top:7%">
    <div class="container">
        <router-outlet ></router-outlet>
    </div>
</main> -->


<app-navbar (showEvent)="receiveMessage($event)" class="mb-4 p-0"></app-navbar>
<div class="container-fluid " >
  <div class="row mx-0 px-0 " style="margin-bottom: 2rem; margin-top: 1rem;" >

    


    <main role="main"  class=" col-12 mx-0 px-0" >

        <div class="row mx-0 px-0">
          <div class="col-12 mx-0 px-0 ">
            <router-outlet ></router-outlet>
          </div>
        </div>
    </main>
    
  </div>

</div>
<app-footer class="footer"></app-footer>
