<div class="row">
   <div class="col-12 m-2">
      <div class="row m-2 ">
          <button type="button" (click)="backClicked()" class="btn  col-xs-2 btn-light"><i class="material-icons">
          arrow_back
        </i>
      </button>
      </div>
      <div class="row align-items-end">
          <div class="h3  font-weight-bold text-capitalize  col-auto">
              Employees
          </div>
  
      </div>
  
      <div class="row mt-3">
          <div class="card w-100">
              <div class="card-body shadow-lg">
                 <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Email</th>
                                <th scope="col">phone</th>
                                <th scope="col">Status</th>
                                <th scope="col">Detail</th>
    
    
    
    
    
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of employees;let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.data.Person_Full_Name_First_Last}}</td>
                                <td>{{item.data.Person_Start_Date}}</td>
                                <td>{{item.data.email}}</td>
                                <td>{{item.data.Person_phone_no}}</td>
                                <td>{{item.data.Status}}</td>
                                <td><a [routerLink]="['../../view',item._id]">view</a></td>
    
    
    
    
                            </tr>
    
                        </tbody>
                    </table>
                 </div>
  
                  <!-- <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">S.No</th>
                <th scope="col">Full Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Email</th>
                <th scope="col">phone</th>
                <th scope="col">Status</th>
                <th scope="col">Detail</th>
                <th scope="col">processor</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of countries">
                <th scope="row">{{i}}</th>
                <td>{{item.Person_Full_Name_First_Last}}</td>
                <td>{{item.Person_Start_Date}}</td>
                <td>{{item.Person_Email_Address}}</td>
                <td>{{item.Person_phone_no}}</td>
                <td>{{item.Status}}</td>
                <td><a [routerLink]="['../view',i+1]">view</a></td>
                <td><select class="custom-select custom-select-lg mb-3  d-block" [(ngModel)]="item.processorId">
  
                    <option *ngFor="let processor of processorList" [value]="processor.id">{{processor.name}}</option>
  
                  </select></td>
  
                <td>
                  <button *ngIf="!item.assign" class="btn btn-outline-primary border-white" (click)="save(item,i)"><i
                      class="fas fa-check"></i></button>
  
                  <button *ngIf="item.assign" class="btn btn-outline-success border-white" (click)="save(item,i)"><i
                      class="fas fa-check"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
  
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination> -->
  
  
              </div>
  
          </div>
      </div>
   </div>


</div>