<div class="row align-items-end">
    <div class=" pt-3 ml-1">
        <button type="button" (click)="backClicked()" class="btn  col-xs-2 btn-light"><i class="material-icons">
                                arrow_back
                            </i>
                        </button>
    </div>
    <div class="h3  font-weight-bold text-capitalize  col-auto mt-2">
        Expense Reimbursements
    </div>

</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card w-100">
            <div class="card-body shadow-lg">
                <div class="row mt-0 justify-content-between">
                    <div class="col-3">
                        <div class="form-group row">
                            <label class="d-flex align-items-center col-auto pt-1 ml-1">Records</label>
                            <select class="form-control col-3 d-inline-block" id="exampleFormControlSelect1" [(ngModel)]="pageSize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3 mt-0 mb-1">
                        <input class="form-control" #searching type="text" placeholder="Search" (keyup)="Searchfilter(searching.value)">
                    </div>
                </div>
                <div class="row m-1">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Employee Name</th>
                                <th scope="col">Nature of expense</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Details</th>
                                <th scope="col">Status</th>
                                <th scope="col">Reject</th>


                                <!-- <th scope="col">Priority</th> -->

                                <th scope="col">Approve</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let item of displayRequest| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.data.name}}</td>
                                <td>{{item.data.detail.natureofexpense}}</td>
                                <td>{{item.data.detail.amount}}</td>
                                <td><a [routerLink]="['../expenseViewProcessor',item._id]">view</a></td>

                                <td class="text-center"><span [ngSwitch]="item.data.status">
                                        <i *ngSwitchCase="'red'" class="fas fa-circle text-danger" triggers="click" [autoClose]="true" ngbTooltip="Vendor yet to  assign"></i>
                                        <i *ngSwitchCase="'green'" class="fas fa-circle text-success" triggers="click" [autoClose]="true" ngbTooltip="Request Successfull"></i>
                                        <i *ngSwitchCase="'cancel'"  class="fas fa-window-close text-danger" triggers="click" [autoClose]="true" ngbTooltip="Request  Cancelled" ></i>
                                        <i *ngSwitchCase="'rejected'" class="far fa-times-circle " style="color: darkorange;" triggers="click" [autoClose]="true" ngbTooltip="Request Rejected" ></i>
                                        <i *ngSwitchCase="'yellow'" class="fas fa-circle text-warning" triggers="click" [autoClose]="true" ngbTooltip="Request Processing"> </i>
                                </span>
                                </td>


                                <td>


                                    <button *ngIf="!(item.data.status=='green'||item.data.status=='rejected'||item.data.status=='cancel')" class="btn btn-outline-primary border-white" (click)="save(item,item._id)"><i class="fas fa-check"></i>
                                    </button>


                                </td>
                                <td>
                                    <button *ngIf="!(item.data.status=='green'||item.data.status=='rejected'||item.data.status=='cancel')" class="btn border-white btn-outline-orange " (click)="rejectRequest(item,item._id)">
                                        <i class="fas fa-times p-0" ></i>
                                    </button>

                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [pageSize]="pageSize" [maxSize]="5" [boundaryLinks]="true">
                    </ngb-pagination>
                    Total:{{collectionSize}}


                </div>
            </div>
        </div>
    </div>
</div>