<div>
    <div class=" pt-2 ml-1">
        <button type="button" (click)="backClicked()" class="btn  col-xs-2 btn-light"><i class="material-icons">
                                arrow_back
                            </i>
                        </button>
    </div>

    <div class="h3   font-weight-bold text-capitalize ml-3 mt-3">Employee Details</div>

</div>

<div class="card">
    <div class="card-body m-2 mt-2" *ngIf="emp">
        <!-- <div class="row  justify-content-center" >
            <div class=" col-12 input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-success">Save Upload</button>
            </div>
            
        </div>
        <hr> -->
        <!-- <a (click)="changeEdit()"><i class="far fa-edit fa-2x float-right" [hidden]="edit!==true"  ></i></a> -->

        <div class="form-group">
            <label>Person : Full Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Person_Full_Name_First_Last">
        </div>



        <div class="form-group">
            <label> Person : Email Address</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.email">
        </div>




        <div class="form-group">
            <label>Person: phone no</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Person_phone_no">
        </div>



        <div class="form-group">
            <label>Requisition : Company Code</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Requisition_Company_Code">
        </div>



        <div class="form-group">
            <label>Requisition : Company Country</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Requisition_Company_Country">
        </div>



        <div class="form-group">
            <label>Primary Location : Country Full Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Primary_Location_Country_Full_Name">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Job Location City</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Job_Location_City">
        </div>



        <div class="form-group">
            <label>Requisition : Requisition ID</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Requisition_Requisition_ID">
        </div>



        <div class="form-group">
            <label>Requisition : Position Number</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Requisition_Position_Number">
        </div>



        <div class="form-group">
            <label>Primary Recruiter : Full Name : First Last</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Primary_Recruiter_Full_Name_First_Last">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Telephone</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Telephone">
        </div>



        <div class="form-group">
            <label>Requisition : Cost Center Code</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Requisition_Cost_Center_Code">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Hiring Manager</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Hiring_Manager">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Hiring Manager Alias</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Hiring_Manager_Alias">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Reports To Manager</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_ReportsToManager">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Reports To Manager Alias</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_ReportsToManagerAlias">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Relocation Needed</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Relocation_Needed">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Relocation Type</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Relocation_Type">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Relocation Tier</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Relocation_Tier">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Relocation Summary</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Relocation_Summary">
        </div>



        <div class="form-group">
            <label>Offer Intake Global : Tentative Start Date</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Tentative_Start_Date">
        </div>



        <div class="form-group">
            <label>First Offer : Offer Accepted</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.First_Offer_Offer_Accepted">
        </div>



        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Status">
        </div>



        <div class="form-group">
            <label>Offer Intake Global :Form Status Offer Intake Global</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Offer_Intake_Global_Form_Status_Offer_Intake_Global">
        </div>



        <div class="form-group">
            <label>Requisition : First Placed in Status Pre Onboard : Hire Complete</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Requisition_First_Placed_in_Status_Pre_Onboard_Hire_Complete">
        </div>



        <div class="form-group">
            <label>Person : Start Date</label>
            <input type="text" class="form-control" id="exampleInputPassword1" disabled [(ngModel)]="emp.data.Person_Start_Date">
        </div>


        <!-- <div class="row m-2 justify-content-end" [hidden]="edit" >
            <div class="col-2 m-0 p-0 "><button class="btn w-100 btn-outline-success float-right"
                    (click)="save()">Save</button></div>
        </div> -->





    </div>
</div>