<!--<div class="row my-4 justify-content-center align-items-center">
    <div class="card w-100">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="row m-2 align-items-center">
                        <h5>Flight Booking Ticket</h5>

                        <div class="col-12 mt-2">
                            <img [src]="this.entry.voucher" *ngIf="this.entry.voucher" height="auto" width="100%" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->